version: "3.7"

services:

  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8080
    ports:
      - 8080:8080
    volumes:
      - .:/usr/src
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    env_file:
      - .env

  redis:
    image: redis:6.2.4
